<style>
#oi {
    text-align: center;
}
</style>
<%- model_class = List -%>
<div class="jumbotron" id="oi">
<div class="page-header">
  <h1 id="oi">Editar Usúario</h1>
</div>
<%= render :partial => 'form' %>

</div>
