<%- model_class = List -%>

<div class="jumbotron text-center">
  <% if List.find(params[:id]).user_id == current_user.id%>
    <h1 id="oi">Editar Lista</h1>
    <%= render :partial => 'form' unless current_user.id == @form %>
  <%else%>
    <h2 style="color:red;">Você não pode editar listas de outros usuários!</h2>
  <%end%>
</div>
