<section class="row">

  <article class="text-center">
    <h1 class="text">Olá <%= @user %></h1><br/>
     <% if current_user %>
        <h4>Crie listas para gerenciar suas Tarefas de modo simples e fácil!</h4>
     <%else%>
        <h4>Para usar o sistema É OBRIGATÓRIO estar logado no sistema. Faça Login Para Pode Usar!</h4>
      <%end%>
  </article>

</section>
